.col-0-2 {
  width: 500px; /* chieu rong cua hinh anh */
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
* {
  margin: 0;
  padding: 0;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
.form-add-new {
  margin: 0 auto  ;
  padding-top: 100px;
  width: 500px;
}
.input-group{
  padding :10px
}
.button{
  margin: 10px;
  cursor: pointer;
}
